    body {
        overflow-x: hidden;
        margin: 0; padding: 0; border: 0;
        background-color: #FBFBFB;
    }
	.mesa {
		background-color: #F0F0F0;
        position: absolute;
        border: 1px solid #DDDDDD;
        z-index: 2;
        cursor: -webkit-grab; cursor: grab;
        resize: none;
        overflow: auto;
	}
    .mesa:active {
    	cursor: -webkit-grabbing; cursor: grabbing;
    }
    .pc {
        font-family: "Monaco", monospace;
        font-weight: 750;
    	position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 3;
        cursor: -webkit-grab; cursor: grab;
        resize: none;
        overflow: auto;
    }
    .pc:active {
    	cursor: -webkit-grabbing; cursor: grabbing;
    }
    .editsize {
    	position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        text-align: center;
        height: 10vh;
        font-weight: 750;
        z-index: 10;
        background-color: #EEEEEE;
        padding-top: 2vh;
        border: 1px solid #DDDDDD;
        user-select: none;
    }
    .editclass {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        text-align: center;
        height: 5vh;
        font-weight: 750;
        z-index: 10;
        background-color: #EEEEEE;
        padding-top: 2vh;
        border: 1px solid #DDDDDD;
        user-select: none;
    }
    .edittxt {
        font-family: "Lucida Grande", monospace;
        font-size: 2vh;
        font-weight: 750;
        padding-left: 1vw;
        user-select: none;
    }
    .pcbutton, .mesabutton, .resize, .delete, .edit, .clone, .adicionar, .carregar, .salvar, .deletar, .admin {
        font-family: "Lucida Grande", monospace;
        font-size: 2.5vh;
        font-weight: 1000;
        user-select: none;
        color: #000000;
    }
    .pcbutton:hover, .mesabutton:hover, .resize:hover, .delete:hover, .copy:hover, .clone:hover, .adicionar:hover, .carregar:hover, .salvar:hover, .deletar:hover, .admin:hover, .edit:hover {
        color: #666666;
		cursor: pointer;
    }
    .pcbutton:active, .mesabutton:active, .resize:active, .delete:active, .copy:active, .clone:active, .adicionar:active, .carregar:active, .salvar:active, .deletar:active, .admin:active, .edit:active {
        color: #BBBBBB;
    }
    .txtx0, .txty0, .txtx1, .txty1 {
        width: 5vw;
        font-family: "Lucida Grande", monospace;
        font-size: 2vh;
        font-weight: 750;
        background-color: #FFFFFF;
        border: 1px solid #000000;
        user-select: none;
    }
    .txtnew {
        width: 4.5vw;
        font-family: "Lucida Grande", monospace;
        font-size: 2vh;
        font-weight: 750;
        background-color: #FFFFFF;
        border: 1px solid #000000;
        user-select: none;
    }
    .salalist {
        width: 5vw;
        font-family: "Lucida Grande", monospace;
        font-size: 2vh;
        font-weight: 750;
        background-color: #FFFFFF;
        border: 1px solid #000000;
    }
    .txtname, .txtangle {
        width: 5vw;
        font-family: "Lucida Grande", monospace;
        font-size: 2vh;
        font-weight: 750;
        background-color: #FFFFFF;
        border: 1px solid #000000;
    }
    .txtid, .txtname:disabled {
        width: 5vw;
        font-family: "Lucida Grande", monospace;
        font-size: 2vh;
        font-weight: 750;
        background-color: #FFFFFF;
        border: 1px solid #A0A0A0;
    }
    .editarea {
        margin-top: calc(47.5vh - 300px);
        position: relative;
        width: 1000px;
        height: 600px;
        background-color: #FFFFFF;
        border: 1px solid #DDDDDD;
        overflow: hidden;
    }
    .innertext {
		font-size: 100%;
        position: absolute;
        bottom: 0;
    }
    .editobj {
        position: fixed;
        top: calc(47.5vh - 300px);
        left: calc(50vw - 500px);
        width: 1000px;
        height: 600px;
        font-weight: 750;
        z-index: 10;
        background-color: #EEEEEE;
        border: 1px solid #DDDDDD;
        user-select: none;
        z-index: 10;
    }